{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chernoyarova</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{% static 'img/logo.svg' %}" alt="логотип">
            <h1>clover tasks</h1>
        </div>
        <form action="{% url 'auth' %}" method="post">
            {% csrf_token %}
            <input class="user-auth" type="text" name="user_name" placeholder="имя" required>
            <button class="auth-btn" type="submit" name="auth_btn">войти</button>
            <a href="{% url 'registration' %}">
                <div class="reg-btn">регистрация</div> 
            </a>
        </form>
    </div>
</body>
</html>